<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyHealthy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F68323C11BB186A100A6750E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F68323DA1BB186A100A6750E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F68323E51BB186A100A6750E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
